#modal.fade {
    background: rgba(7, 214, 214, 0.884);
}
    
.modal-backdrop.fade {
    opacity: 0;
} 

body {
    background-color: rgb(252, 247, 247);
}

.overflow {
    overflow-y: scroll;
}
#next{
    background: aqua;
    color: rgb(23, 23, 211);
}
#info__div{
    text-align: center;
    
}
